/*左侧菜单*/
.sidebar-menu{
    border-right: 0px solid #c4c8cb;
}
/*一级菜单*/
.menu-first{
    height:28px;
    line-height:29px;
    background-color: #e9e9e9;
    border-top: 1px solid #efefef;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    border-bottom:1px solid #DCDCDC;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #F8F8F8;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
.menu-first:focus{
    text-decoration: none;
    background-color: #E9E9E9;
    color:#333;
}
/*二级菜单*/
.menu-second li a {
  background-color: #F1F1F1;
  height: 31px;
  line-height: 31px;
  
  font-size: 13px;
  text-decoration: none;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #F8F8F8;
    color:#0F76C5;
    font-weight: bold;
   
}
/*二级菜单鼠标划过样式*/
.menu-second li a:focus {
    text-decoration: none;
    background-color: #F8F8F8;
    color:#0F76C5;
    font-weight: bold;
}


/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #F8F8F8;
    height:31px;
    line-height:31px;
}

/*覆盖bootstrap的样式*/
.nav-list{
    padding: 0px;
    margin: 0px;
}
.nav-list li a{
    padding: 3px;
    margin: 0px;
    padding-left: 60px;
}